<a href="#" id="new-button">New Trainee</a>
<table class="table table-hover">
  <thead>
      <tr>
          <th>Trainee Name</th>
          <th>Test</th>
          <th>Subject</th>          
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of traineeTestList" (click)="onSelect(info)">             
        <td>{{ info.traineeName }}</td>
        <td>{{ info.testName }}</td>
        <td>{{ info.subjectName }}</td>
        <td>
            <!-- <a href="#" (click)="editRecord(this)">Edit Trainee</a>
            <a href="#" (click)="deleteRecord(this)">Delete Trainee</a> -->
        </td>
    </tr>
  </tbody>
</table>